# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
dist/
*.exe
*.zip

# dotenv secret files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/       # if you ever use IntelliJ/WebStorm
*.suo
*.ntvs*
*.user
*.cache

# electron-reload cache
.reload

# Coverage reports (if you ever add tests)
coverage/